extends layout

block content
  .container.background-light.p3
    p.mt4.center.cursive You are cordially invited to attend the marriage of
    h1.center.mb0 Sarah
    h6.center.mt0 Elizabeth Duty
    p.center.mt2.mb2 —&—
    h1.center.mt0.mb0 Aaron
    h6.center.mt0.mb4 Howard English

    hr

    .row.clearfix.py2.center
      .col.col-6.border-right
        p Sunday February 28, 2016
        p 4:00pm

      .col.col-6
        p Bridle Creek Ranch
        p 5811 Roper Rd., Sperry Oklahoma

    hr
    h2.center R.S.V.P
    form.center(action="submit" method="post")
      label.block.cursive Email
      input.field(placeholder="ForeverAnEnglish@example.com")
      <br>
      <br>
      label.block.cursive Phone
      input.field(placeholder="1(800)-222-3333")
      <br>
      <br>
      label.block.cursive Attending
      input.field(placeholder="Yes, Heck yes, or Can't Make it?")
      <br>
      <br>
      label.block.cursive Party Size
      input.field(placeholder="How many folks are you bringing?")

      <br>
      <br>
      <br>
      input.btn.btn-primary.center(type=submit value="Party Time!")
    .cursive.center.p4 #ForeverAnEnglish
