extends layout

block content
  p You are cordially invited to attend the marriage of
  h2 Sarah Elizabeth Duty
  p &
  h2 Aaron Howard English

  hr

  p Sunday February 28, 2016
  p 4:00pm

  hr
  p Bridle Creek Ranch
  p 5811 roper rd., Sperry Oklahoma
  hr
