doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900|Parisienne')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.background-dark
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block content
