.background-dark {
  background: #6D5A57;
}

.background-light {
  background: #FEF5EE;
}

html body {
  font-family: 'Merriweather', serif;
  color: #2D2524;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

.cursive {
  font-family: 'Parisienne', sans-serif;
}

.container {
  max-width: 32em;
}

input {
  padding: 0.5rem 1rem;
}
